# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Jupyter/pytest
.ipynb_checkpoints/
.pytest_cache/

# OS
.DS_Store

# Build
dist/
build/

# App artifacts
maps/*.html
temp_eq.csv
